<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU LIST</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav class="flex">
        <ul>
            <li>
                <div class="first">
                    <img src="../static/img/utensils-solid.svg" alt="">
                    <p>THE PLACE</p>
                </div>
            </li>
            <li>
                <div class="second">
                    <img src="../static/img/cart-shopping-solid.svg" alt="">
                    <p>ONLINE ORDER</p>
                </div>
            </li>
            <li>
                <div class="third">
                    <img src="../static/img/bars-solid.svg" alt="">
                    <p>MENU LIST</p>
                </div>
            </li>
        </ul>
    </nav>
    <main class="grid">
        <div class="one">
            <img src="../static/img/image_1.jpg" alt="" class="images">
            <h2>Chocolate Cake</h2>
            <p class="text">$125</p>
        </div>
        <div class="two">
            <img src="../static/img/image_2.jpg" alt="" class="images">
            <h2>Creme Brulee</h2>
            <p class="text">$145</p>
        </div>
        <div class="three">
            <img src="../static/img/image_3.jpg" alt="" class="images">
            <h2>Pink Birthday Cake</h2>
            <p class="text">$200</p>
        </div>
        <div class="four">
            <img src="../static/img/image_4.jpg" alt="" class="images">
            <h2>Bread</h2>
            <p class="text">$250</p>
        </div>
        <div class="five">
            <img src="../static/img/image_5.jpg" alt="" class="images">
            <h2>Coffee with Pancakes</h2>
            <p class="text">$200</p>
        </div>
        <div class="six">
            <img src="../static/img/image_6.jpg" alt="" class="images">
            <h2>Cheeseburger</h2>
            <p class="text">$100</p>
        </div>
        <div class="seven">
            <img src="../static/img/image_7.jpg" alt="" class="images">
            <h2>Fruit Custard</h2>
            <p class="text">$200</p>
        </div>
        <div class="eight">
            <img src="../static/img/image_8.jpg" alt="" class="images">
            <h2>Whiskey</h2>
            <p class="text">$4200</p>
        </div>
    </main>
</body>
</html>